<div class="col-sm-3">
    <!-- Category -->
    <div class="single category">
    <h3 class="side-title">Category</h3>

        <div class="list-unstyled">
            <% @categories.each do |category|%>
                <li><%= link_to  category_path(category.id)  do%>
                    <%= category.name %><span class="pull-right"><%= category.books.count%></span>
                <%end%>
                </li>
            <% end %>
        </div>



    </div>
</div>
