
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="single new">
      <h3 class="side-title">Editing Book</h3>

      <%= render 'form', book: @book %>

    </div>

  </div>

</div>
