/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";



 body {
   // background: #AA4847;
   background: linear-gradient(to left, #ededed 40%, #d6d6d6 100%);
   font-size: 14px;
 }

 .navbar {
   padding: 10px;
   background: #fcfcfc;
   text-transform: uppercase;
 }

 #message{
     margin-left: 350px;
     .alert{
        color: #a94442;
       background-color: #f2dede;
       border-color: #ebccd1;
       width: 500px;
       height: 50px;
     }
     .notice{
        color: #3c763d;
       background-color: #dff0d8;
       border-color: #d6e9c6;
       width: 500px;
       padding: 25px;
     }
 }

 #category{
     display: inline;
 }


 img:hover{
   opacity: 0.5;
 }

 select {
     width: 100%;
     padding: 16px 20px;
     background-color: #ffffff;
 }
 .input-sm{
     border-radius: 0;
 }

 input[type=text] {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     box-sizing: border-box;
 }
 textarea {
     width: 100%;
     height: 150px;
     padding: 12px 20px;
     box-sizing: border-box;
     border: 2px solid #ccc;
     border-radius: 4px;
     background-color: #f8f8f8;
     resize: none;
 }


.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0;

}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-danger {
    background: #b70000;
    color: #ffffff;
}

.brn-default{
  background: #cecece;
  color: #ffffff;

}

 .single {
   padding: 20px;
   margin-bottom: 15px;
   margin-top: 40px;
   background: #fcfcfc;
   border: 1px solid #f0f0f0;
  }
 .new {
    padding: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
 .single h3.side-title {
   margin: 0;
   margin-bottom: 10px;
   padding: 0;
   font-size: 20px;
   color: #333;
   text-transform: uppercase;
 }
 .single h3.side-title:after {
   content: '';
   width: 60px;
   height: 1px;
   background: #ff173c;
   display: block;
   margin-top: 6px;
  }

 .single ul {
   margin-bottom: 0;
 }
 .single li a {
   color: #666;
   font-size: 14px;
   text-transform: uppercase;
   border-bottom: 1px solid #f0f0f0;
   line-height: 40px;
   display: block;
   text-decoration: none;
 }
 .single li a:hover {
   color: #ff173c;
 }


 .single li:last-child a{
   border-bottom: 0;
 }
 tr td:last-child{
     width:1%;
     white-space:nowrap;
 }

 #books-show h2 {
   background: #f4f4f4;
   padding: 10px;
 }
 .books-show-left img{
   width: 80%;
   padding: 10px;
 }
 .books-show-left{
   float: left;
   width: 40%;
 }
 .books-show-right{
   float: left;
   margin-left: 50px;
   width: 40%;
   padding: 20px;
   margin-top: -85px;
 }
 .books-show-bottom{
   padding: 15px;
 }
 #books-show .btn{
   margin: 20px 0 0 70px;
 }
