<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="single new">
            <h3 class="side-title">Add New Category</h3>
            <%= render 'form', category: @category%>
        </div>

    </div>

</div>
